body {
    font-family: fantasy;
    color: red;
}
li {
    list-style: none;
    float: left;
}
.HEADER {
    background-color: black;
    height: 90px;
}
.header-logo {
    font-size: 60px;
    float: left;
}
.MAIN{
    background-color: wheat;
    height: 600px;
}
.FOOTER {
    background-color: rgb(20, 20, 5);
    height: 100px;
}
